body {
  font-family: "Baloo 2", sans-serif !important;
  background-color: #080084 !important;
}
.nav {
  margin-top: 1vw;
  color: White;
  font-size: 20px;
}
.home {
  color: #3100ff;
  font-size: 30px;
}
#brand2 {
  color: #fff;
  font-size: 30px;
}
.single-item {
  border-radius: 35px !important;
  background-color: #4d40ff !important;
  color: #fff !important;
}
.store-img {
  transition: all 1s ease-in-out;
}
.card-body {
  position: relative;
  transition: 1s ease;
  padding: 10px 15px 0px 10px;
  height: 110px;
  font-weight: 600;
}
.img-container {
  border: 1px solid #fff;
  border-radius: 35px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 200px;
}
.img-container:hover .store-img {
  transition: 1s ease-in-out;
  transform: scale(1.2);
}
.content2 {
  position: absolute;
  left: 30px;
  top: 80px;
  transition: 1s ease-in-out;
}
.single-item:hover .content2 {
  top: 40px;
}
.single-item:hover .card-body {
  height: 320px;
  transition: 1s ease;
}
.con a {
  background-color: #fff;
  height: 20px;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 0px #cbdeff;
}
.con a:hover {
  background-color: #afccff;
  color: white;
}
.single-item {
  box-shadow: 0px 0px 15px 0px #1100ff;
  border: none;
  border-radius: 35px;
}
.store-item-name {
  width: 310px;
  max-lines: 1;
  margin-bottom: 0px;
  padding-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.store-item-price {
  color: #2977ff;
}
.likes {
  position: absolute;
  text-align: center;
  right: 30px;
  top: 80px;
  transition: 1s ease-in-out;
}

.search i {
  position: absolute;
}

.search {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  margin-top: -7px;
  padding: 15px 15px;
  min-width: 40px;
  color: #8ab6ff;
}

.search-input {
  margin-top: -6px;
  width: 100%;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
}
.search-input ::placeholder {
  color: #8ab6ff;
}
.location {
  background-color: #fff;
  border-radius: 15px;
  top: 20px;
  left: 20px;
  width: 50px;
}
.tag {
  position: absolute;
  top: 100px;
  left: 30px;
  color: gold;
  transition: 0.8s ease-in-out;
}
.single-item:hover .tag {
  top: 82px;
  left: 30px;
}
.fa-heart-o {
  color: #2977ff;
}
.fa-heart {
  color: red;
}
.img-dr img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: -20px;
  border: 1px solid #fff;
}
.con1 {
  margin-left: -20px;
}
.con1 h5 {
  margin: 0;
}
.con1 p {
  margin: 0;
  font-size: 15px;
}
.con1 span {
  margin: 0;
  font-size: 15px;
}
.con2 {
  transition: all 1.2s ease-in-out;
  margin-top: 100px;
}
.single-item:hover .con2 {
  margin-top: 0px;
}
.enroll button {
  background-color: #ffd217;
  color: #080084;
  font-weight: bold;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .all {
    display: none;
  }
}
@media (max-width: 992px) {
  .all {
    display: block !important;
  }
}
/* End search page */
