body {
  font-family: "Baloo 2", sans-serif !important;
  background-color: #080084 !important;
}
.nav {
  margin-top: 1vw;
  color: White;
  font-size: 20px;
}
.home {
  color: #3100ff;
  font-size: 30px;
}
#brand2 {
  color: #fff;
  font-size: 30px;
}
.single-item {
  border-radius: 35px !important;
  background-color: #4d40ff !important;
  color: #fff !important;
  box-shadow: 0px 0px 15px 0px #1100ff;
  border: none;
  border-radius: 35px;
  margin-bottom: 5vh;
  
}

.img-container {
  border: 1px solid #fff;
  border-radius: 35px;
  cursor: pointer;
  overflow: hidden;
  object-fit: contain;
  height: 100%;
}
.img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.con{
    margin-top: 4vh;
    margin-left: 3vh;
}
.buttons .btn1,.buttons  .btn2{
    background-color: #fff;
    color: #4D40FF;
    width: 80px;
    height: 35px;
    line-height: 23px;
    text-align: center;
    margin-right: 25px;
    border-radius: 10px;
}
.icone{
    margin-top:7vh ;
}
@media(max-width:767px){
    .single-item{
        text-align: center;
    }
    .icone{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}
/* End enrolled page */
