body {
  font-family: "Baloo 2", sans-serif !important;
  background-color: #080084 !important;
}
.nav {
  margin-top: 1vw;
  color: White;
  font-size: 20px;
}
.home {
  color: #3100ff;
  font-size: 30px;
}
#brand2 {
  color: #fff;
  font-size: 30px;
}
.container {
  margin-top: 35vh;
  background-color: #4d40ff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px 0px #1100ff;
}
.img-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}
.image img {
  width: 100px;
  height: 100px;
}
input {
  background-color: #030047;
  box-shadow: #030047;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  height: 35px;
  margin-bottom: 15px !important;
  width: 65%;
  color: #ffd217;
}
.login {
  color: #030047 !important;
  background-color: #ffd217 !important;
  font-weight: bold !important;
  width: 100px;
  margin-bottom: 15px;
  border-radius: 10px !important;
}

.signup {
  color: #030047 !important;
  background: none;
  font-weight: bold !important;
  border: 2px solid #030047 !important;
  width: 100px;
  border-radius: 10px !important;
}
